.body{
    background-image: linear-gradient(rgb(12, 218, 190), rgb(12, 128, 206));
}
:root {
    --cor-de-fundo: #00b7ff;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

.h1{ 
    color: rgb(6, 141, 165);
}