
body {
    background: linear-gradient(--cor-de-fundo,--cor-de-fundo2));
    color: var(--branco);
}

:root {
    --cor-de-fundo: rgb(10, 88, 82);
    --cor-de-fundo2: rgb(9, 118, 219);
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

.h1{ 
    color: rgb(6, 141, 165);
}