<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap" rel="stylesheet">

.corpo{
    background-image: linear-gradient(rgb(241, 90, 90), black);
}
.titulo{
    font-size: 50px;
    border: 5px dashed rgb(0, 0, 0);
    color: white;
    font-family: "Jacquarda Bastarda 9";
}
